.footer {
    padding-top: 48px;
    background-color: black;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}
 
.footer a, footer a:visited { 
    color: #525252; 
}

.footer a:hover, footer a:focus { 
    color: #fff; 
}
 
/* social links */
.socialLinks {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}
.socialLinks li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

.socialLinks li:first-child { 
    margin-left: 0; 
}
 
/* Go To Top Button */
.icon{
    width: 60px;
    height: 60px;
    align-items: center;
    margin-top: -120px;
    color: #fff;
    background-color: #525252;
    /* border: 0px; */
    border-radius: 100%;
}

.icon :hover{
    color: #0F9095;
}