.work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}

.bars {
    width: 95%;
	float: left;
}
.bars .skills {
    margin-top: 36px;
    padding: 0px;  
    list-style: none;
}
.bars li {
    position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 20px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
    color: #313131;
	text-transform: uppercase;
    letter-spacing: 2px;
	font-weight: normal;
    position: relative;
	top: -36px;
}
.barExpand {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding-right: 450px;
  	background: #313131;
    display: inline-block;
  	height: 20px;
    line-height: 20px;
    border-radius: 3px 0 0 3px;
}
